name: Validate PR conventions

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize

jobs:
    lint-pr:
        name: Ensure PR follows conventional commits
        runs-on:
            group: arc-public-large-amd64-runner
        steps:
            - uses: amannn/action-semantic-pull-request@v4
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  validateSingleCommit: true
                  validateSingleCommitMatchesPrTitle: true
