name: New release

on:
    push:
        branches:
            - main

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        outputs:
            releases_created: ${{ steps.release.outputs.releases_created }}
        steps:
            - name: Release
              id: release
              uses: google-github-actions/release-please-action@v3
              with:
                  command: manifest

    publish:
        needs: release
        name: Publish
        runs-on: ubuntu-latest
        if: ${{ needs.release.outputs.releases_created }}
        steps:
            - uses: actions/checkout@v3

            - uses: pnpm/action-setup@v2.4.0
              with:
                  version: 8

            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: 'pnpm'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build

            - name: Publish
              run: pnpm publish -r --report-summary --dry-run
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
